.jk{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--jk-site-font);
    transition: 0.4s;
    display: inline-block;
}

.user-fill-svg{
    background: red;
}
.jk-user::before{
    content: url("https://jkcss-css-framework.github.io/JKCSSIcon-Testing/svgs/user.svg");
}
.jk-usertxt{
    content: url("svgs/user-fill.svg");  
}
.jk-map::before{
    content: url("https://jkcss-css-framework.github.io/JKCSSIcon-Testing/svgs/mp1.svg");
}